.modal {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background: rgba(0, 0, 0, 0.30);
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Rendre l'overlay visible lorsque l'une des modales est active */
.modal + .overlay {
	display: block;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Ajustez selon vos besoins */
    max-height: 85vh; /* Ajustez selon vos besoins */
    overflow-y: hidden;
    padding: 30px; /* Ajustez selon vos besoins */
    background: #FFFFFF;
    border-radius: 10px;
}




#titleAddPhoto, #titlemodal {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 45px;
}


.projets-modal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 10px;
	border-bottom:1px solid #B3B3B3 ;
	padding-bottom: 46px;
	width: 420px;
}

.projets-modal > figure{
	position: relative;
}

.projets-modal img {
	display: flex;
	flex-wrap: wrap;
	width: 76.86px;
	height: auto;
}

.delete-icon {
	position: absolute;
	top:5px;
	right: 5px;
	color: white;
	padding: 4px;
	background-color: black;
	border-radius: 2px;
}

.restore-button {
	color : black;
	font-size: 20px;
}


.modal-page-one, .modal-page-two, .modal-wrapper{
	display: flex;
    flex-direction: column;
    align-items: center;
}
  
.js-modal-close, .js-modal-close-two {
	position: absolute;
	top: 26px;
	right: 30px;
	font-size: 24px;
	cursor: pointer;
	color: black;
}

.add-photo {
	display: flex;
	justify-content: center;
	padding: 10px 140px 10px 140px;
	cursor: pointer;
}



.modal-page-two {
	width: 630px;
	height: 670px;
	flex-shrink: 0;
	padding: 0;
}

.js-modal-return {
	position: absolute;
	top: 26px;
	left: 30px;
	font-size: 23px;
	color: black;
	
}	

.modal-form {
	display: flex;
	flex-direction: column;
	gap: 25px;	
	width: 65%;
}

.modal-form > input {
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border:  none;	
}

.modal-form > select {
	font-family: 'Work Sans';
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 20px;
	padding-left: 20px;

}

#validerButton {
	background: #A7A7A7;
	border-radius: 60px;
	padding: 10px 140px 10px 140px;
	border: none;
	display: flex;
	justify-content: center;
	width: 237px;
	height: 38px;
	color: #FFF;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
}

#validerButton.green-button {
	background-color: #1D6154;
	color: white
  }

.select-photo {
	background: #E8F1F7;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1;
}

.select-photo > p {
	text-align: center;
	padding-bottom: 20px;
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
}
.select-photo > i {
	color: #B9C5CC;
	font-size: 50px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	margin-top: 15px;

}

.imageFormDisplay{
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}
.imageFormDisplay > img {
	height: 200px;
}
.remove{
	position: absolute;
	top: 5px;
	right: 5px;
}

.file-upload {
	background: #CBD6DC;
	border-radius: 50px;
	text-align: center;
	color: #306685;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 173px;
	height: 36px;
	flex-shrink: 0;
	cursor: pointer;
	border: none;
}

.jpg,.jpeg, .png, .webp  {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
    
#photo-input {
	display: none;
} 

#title-photo {	
	font-family: 'Work Sans';
	padding-left: 20px;
}


#error-message-modal {
	color: red;
	border: 0.5px solid #B3B3B3;
}

.editer{
	margin-top: 5px;
}